
/* Layout styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body{
    padding-left: 280px;
    box-sizing: border-box;
    font-family: 'Open Sans', serif;
    font-size: 1.1em;
    background-image: url("../assets/bgt.png");
}
 
.navbar{
    background-color: #4c9b1f;
    background-image: url("../assets/bgtt.png");
    
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;

    color: #c3e2b0;
    text-transform: uppercase;
    font-weight: 600;

    box-shadow: 3px 0px 10px rgb(0 0 0 / 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navbar li {
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #c3e2b0;
}

.navbar a:hover {
    font-weight: bold;
    color: #ffffff !important;
}

.navbar a:visited {
    color: #c3e2b0;
}

.img-round{
    width: 75%;
    border-radius: 50%;
    border: solid;
    border-width: 10px;
    border-color: rgba(142, 196, 111, 0.5);
}

#content{
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Page content styles */
.container-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    height: 100vh;
    max-width: 1100px;
    padding: 2em;

    color: #4f524f;
}

.container-top {
    max-width: 1100px;
    padding: 2em;

    color: #656864;
}

.container-horizontal {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
}

a {
    color: #4c9b1f;
    text-decoration: none;
}

a:hover {
    color: #6daa49;
}

h1, h2, h3, h4{
    color: #424441;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', serif;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.35rem;
}

hr {
    border-top: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.text-primary {
    color: #4c9b1f;
}

.subheading {
    margin-bottom: 0.5rem;
    color: #797c77;
}

.date {
    min-width: 18rem;
    text-align: right !important;
    flex-grow: 1;
}

.button {
    display: inline-block;
    padding: 0.5rem;
    margin-top: 2rem;

    background-color: #4c9b1f;
    color: #c3e2b0;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
    font-weight: bold;
    border-radius: 0.2rem;
}
.button:hover {
    color: #ffffff;
}

p {
    margin-bottom: 1rem;
    text-align: justify;
}

.skills li {
    list-style: none;
    margin: 0px;
}

li {
    margin-left: 1em;
    
}

sup {
    vertical-align: super;
}