html{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Open Sans', serif;
}
 
.navbar{
    background-color: #4c9b1f;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;

    color: #c3e2b0;
    text-transform: uppercase;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    list-style-position: outside;
    text-align: center;
    padding: 0;
}

.navbar li {
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #c3e2b0;
}

.navbar a:hover {
    font-weight: bold;
    color: #ffffff !important;
}

.navbar a:visited {
    color: #c3e2b0;
}

.img-round{
    width: 75%;
    border-radius: 50%;
    border: solid;
    border-width: 10px;
    border-color: #6daa49;
}

.content{
    width: 800px;
    margin: auto;
}